body {
  background-color: #f5f6fa;
  font-family: "Nunito", sans-serif !important;
}

h1 {
  margin: 0;
  color: #cc1034;
}

h3:first-of-type {
  margin-top: 0;
  margin-bottom: 16px;
}

h3:last-of-type {
  margin-bottom: 0.5rem;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9;
}

.app__right {
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98%;
}

.app_right__chart {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.app__graph {
  flex-grow: 0.5;
}
.app__right .MuiCardContent-root:last-child {
  padding-bottom: 16px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;
}

.app__logo {
  width: 2rem;
  position: relative;
  top: 5px;
}

.app__dropdown .MuiSelect-outlined.MuiSelect-outlined {
  padding: 8.5px 37px 8.5px 1rem;
  width: 15.98rem;
  background-color: white;
  outline: none;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__stats .MuiCardContent-root {
  padding: 16px !important;
}

.map .leaflet-container {
  height: 100%;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
