.map {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}

.infoFlag {
  height: 5.5rem;
  width: 167px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  margin: 1.2rem 0 0.8rem 0;
}

.infoConfirmed,
.infoRecovered,
.infoDeaths {
  font-size: 16px;
  margin-top: 5px;
}

.infoName {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-top: 5px;
}

.infoContainer {
  width: auto;
}
