.table {
  overflow: scroll;
  color: #63191d;
  margin-bottom: 0.5rem;
  background-color: white;
}

table {
  width: 100%;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
